<%= form_with(model: @stock, local: true, html: { multipart: true }, class: "needs-validation") do |f| %>
    <div class="mb-3">
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :provider, "Proveedor" %>
      <%= f.select :provider, ["PT", "Race", "ST"], { prompt: "Selecciona un proveedor" }, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= f.label :description, "Descripcion" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :price, "Precio" %>
      <%= f.number_field :price, step: 0.01, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :cost, "Costo" %>
      <%= f.number_field :cost, step: 0.01, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :available_quantity, "Cantidad Disponible" %>
      <%= f.number_field :available_quantity, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.check_box :featured %>
      <%= f.label :featured, "Destacado en Home" %>
    </div>

    <% @stock.images.each do |image| %>
  <div class="d-inline-block text-center me-2 mb-2">
    <%= image_tag image.variant(resize_to_limit: [100, 100]), class: "img-thumbnail" %><br>

    <%= link_to "X", delete_image_stock_path(@stock, image.id), method: :delete, data: { confirm: "¿Eliminar esta imagen?" }, class: "btn btn-danger btn-sm mt-1" %>
  </div>
<% end %>

    <div class="mb-3">
      <%= f.label :images, "Imágenes del Producto" %>
      <%= f.file_field :images, multiple: true, direct_upload: true, class: "form-control", accept: "image/*" %>
    </div>

    <div class="d-flex justify-content-end">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  <% end %>