
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <div class="d-flex justify-content-center mt-2">
            <%= image_tag "logo.jpg", alt: "Logo", class: "mb-3 img-fluid", style: "max-width: 200px;" %>
          </div>
          <h3 class="text-center font-weight-light my-2"><%= t('.forgot_your_password') %></h3>
        </div>
        <div class="card-body">
          <div class="small mb-3 text-muted">
            Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
          </div>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%# <%= render "devise/shared/error_messages", resource: resource %>
            <!-- Email -->
            <div class="form-floating mb-3">
              <%= f.email_field :email, class: "form-control", id: "inputEmail", placeholder: "name@example.com", autofocus: true %>
              <label for="inputEmail">Email address</label>
            </div>

            <!-- Botones -->
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
              <%= link_to "<< Volver", new_session_path(resource_name), class: "small" %>
              <%= f.submit "Restablecer Contraseña", class: "btn btn-primary" %>
            </div>

          <% end %>
        </div>

        <!-- <div class="card-footer text-center py-3">
          <div class="small">
            <%= link_to "Need an account? Sign up!", new_registration_path(resource_name) %>
          </div>
        </div> -->
      </div>

