<%= form_with(model: @client, url: @client.new_record? ? clients_path : client_path(@client), local: true) do |f| %>  <div class="mb-3">
    <%= f.label :name, "Nombre o Razón Social" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <%= f.fields_for :client_info do |ci| %>
    <div class="mb-3">
      <%= ci.label :phone, "Teléfono" %>
      <%= ci.text_field :phone, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= ci.label :address, "Dirección" %>
      <%= ci.text_field :address, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= ci.label :tax_id, "CUIT/CUIL" %>
      <%= ci.text_field :tax_id, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= ci.label :business_name, "Tipo Facuracion" %>
      <%= ci.select :business_name, 
        [["Consumidor Final", "Consumidor Final"], ["Responsable Inscripto", "Responsable Inscripto"]],
        { prompt: "Seleccione una opción" }, 
        class: "form-select" %>
    </div>
  <% end %>

  <hr>
  <h4>Vehículos</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Patente</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :vehicles, @client.vehicles.build do |v| %>
        <tr>
          <td><%= v.text_field :license_plate, class: "form-control" %></td>
          <td><%= v.text_field :brand, class: "form-control" %></td>
          <td><%= v.text_field :model, class: "form-control" %></td>
          <td><%= v.number_field :year, class: "form-control" %></td>
          <td>
            <%= v.hidden_field :_destroy, value: "0" %>
            <button type="button" class="btn btn-danger remove-vehicle">Eliminar</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <button type="button" id="add-vehicle" class="btn btn-primary">Agregar Vehículo</button>

    <div class="d-flex justify-content-end">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  <% end %>