<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= item.sku %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= item.unit %>
  </p>

  <p>
    <strong>Min stock:</strong>
    <%= item.min_stock %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= item.sale_price %>
  </p>

</div>
