<%= form_with(model: expense, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :description, "Descripción del gasto" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :company, "Empresa" %>
    <%= f.text_field :company, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :date, "Fecha de compra" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :responsible, "Responsable" %>
    <%= f.select :responsible, Expense::RESPONSIBLES, { prompt: "Selecciona un responsable" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :category, "Tipo" %>
    <%= f.select :category, Expense::CATEGORIES, { prompt: "Selecciona un tipo" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :amount_peso, "Monto en pesos" %>
    <%= f.number_field :amount_peso, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :dollar_rate, "Dolar a la fecha" %>
    <%= f.number_field :dollar_rate, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :equivalent_usd, "Equivalente en USD" %>
    <%= f.number_field :equivalent_usd, step: 0.01, class: "form-control", readonly: true  %>
  </div>

  <div class="mb-3">
    <%= f.label :amount_usd, "Monto en USD" %>
    <%= f.number_field :amount_usd, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :has_invoice, "Tiene Factura" %>
    <%= f.check_box :has_invoice %>
  </div>

  <div class="mb-3">
    <%= f.label :comments, "Comentario" %>
    <%= f.text_area :comments, class: "form-control", rows: 3 %>
  </div>

  <div class="d-flex justify-content-end">
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>