<div class="container-fluid px-4">
  <h1 class="mt-4">Gastos</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Listado de Gastos</h6>
      <%= link_to "Nuevo Gasto", new_expense_path, class: 'btn btn-primary btn-icon-split btn-sm' %>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="expensesTable" class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Responsable</th>
                    <th>Tipo</th>
                    <th>Monto en Peso</th>
                    <th>USD Equivalente</th>
                    <th>Monto en USD</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <% @expenses.each do |expense| %>
                    <tr>
                    <td><%= expense.description %></td>
                    <td><%= expense.date.strftime("%d/%m/%Y") %></td>
                    <td><%= expense.responsible %></td>
                    <td><%= expense.category %></td>
                    <td>$<%= number_to_currency(expense.amount_peso, unit: "", separator: ",", delimiter: ".") %></td>
                    <td>US$ <%= number_to_currency(expense.equivalent_usd, unit: "", separator: ",", delimiter: ".") %></td>
                    <td><%= expense.amount_usd %></td>
                    <td>
                        <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_expense_path(expense), class: "btn btn-warning btn-sm" %>
                        <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, expense, method: :delete, data: { confirm: "¿Seguro que quieres eliminar este registro?" }, class: "btn btn-danger btn-sm", "data-turbo" => false %>
                    </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>