<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand ps-0 d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <%= image_tag "logo-letra-blanco.png", alt: "Logo", class: "img-fluid", style: "max-height: 40px;" %>
  </a>

  <!-- Sidebar Toggle -->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
  <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form> -->
  </div>
 

  <!-- Navbar -->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item d-flex align-items-center mx-2" style="color: rgba(255, 255, 255, 0.55)">
      <span id="dolar-amount" class="me-2 fw-bold">Cargando...</span>
      <i id="refresh-dollar" class="fa-solid fa-rotate-right" style="cursor: pointer;"></i>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown">
        <i class="fas fa-user fa-fw"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <li><%= link_to "Mi Perfil", edit_profile_path, class: "dropdown-item" %></li>
          <li><a class="dropdown-item" href="#">Activity Log</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, class: "dropdown-item" %></li>
          <li><%= link_to "Register", new_user_registration_path, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</nav>