<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          <%= link_to "Egresos", withdrawals_path, class: "nav-link" %>
          <%= link_to "Entregas de turno", shift_handovers_path, class: "nav-link" %>

          <!-- <%= link_to "Expensas", dashboard_path, class: "nav-link" %>-->
          <!-- <%= link_to "Presupuestos", dashboard_path, class: "nav-link" %>-->
          <!-- <%= link_to "Clientes", dashboard_path, class: "nav-link" %>-->
          <!-- <%= link_to "Usuarios Internos", dashboard_path, class: "nav-link" %>-->
          <!-- <div class="sb-sidenav-menu-heading">Interface</div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Layouts
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts">
            <nav class="sb-sidenav-menu-nested nav">
              <%= link_to "Static Navigation", root_path, class: "nav-link" %>
              <%= link_to "Light Sidenav", root_path, class: "nav-link" %>
            </nav>
          </div> -->

          <div class="sb-sidenav-menu-heading">Cargas</div>
          <%= link_to "Insumos", items_path, class: "nav-link" %>
          <%= link_to "Proovedores", providers_path, class: "nav-link" %>
          <%= link_to "Pacientes", patients_path, class: "nav-link" %>
          <%= link_to "Usuarios Internos", internal_users_path, class: "nav-link" %>
          <!-- <%= link_to "Servicios", dashboard_path, class: "nav-link" %>-->
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Conectado como:</div>
        <%= user_signed_in? ? current_user.first_name : "Guest" %>
      </div>
    </nav>
  </div>
</div>