<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Overroad" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="sb-nav-fixed">

  <%= render "layouts/navbar" %>

  <div id="layoutSidenav">
    <%= render "layouts/sidebar" %>

    <div id="layoutSidenav_content">
      <main>
          <%= yield %>
      </main>

      <%= render "layouts/footer" %>
    </div>
  </div>

</body>
</html>
